In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
dataset = pd.read_csv(r'C:\Users\tanus\Desktop\patient_adherence\Dataset\patient_data.csv')

dataset.head()

,Patient_ID,Age,Gender,Marital_Status,Financial_Status,Insurance,Drug_Cost,Prescription_Period,Diabetes,Alcoholism,HyperTension,Smokes,Tuberculosis,Adherence
0,PAT001,19,Male,Unmarried,Poor,Yes,High,7,0,0,0,0,0,No
1,PAT002,24,Female,Unmarried,Poor,No,High,59,0,0,0,0,0,No
2,PAT003,4,Female,Married,Poor,Yes,High,43,0,0,0,0,0,No
3,PAT004,38,Male,Unmarried,Poor,No,Low,66,0,0,0,0,0,No
4,PAT005,46,Female,Married,Poor,No,Low,98,0,0,0,0,0,No

#***Validate the data frame***

In [3]:
for dtype in dataset.dtypes.iteritems():
    print(dtype)

('Patient_ID', dtype('O'))
('Age', dtype('int64'))
('Gender', dtype('O'))
('Marital_Status', dtype('O'))
('Financial_Status', dtype('O'))
('Insurance', dtype('O'))
('Drug_Cost', dtype('O'))
('Prescription_Period', dtype('int64'))
('Diabetes', dtype('int64'))
('Alcoholism', dtype('int64'))
('HyperTension', dtype('int64'))
('Smokes', dtype('int64'))
('Tuberculosis', dtype('int64'))
('Adherence', dtype('O'))

#***Check Data Type convert as Date column***

In [4]:
for col in dataset.columns:
    if dataset[col].dtype == 'object':
        try:
            dataset[col] = pd.to_datetime(dataset[col])
        except ValueError:
            pass
print(dataset.dtypes)

Patient_ID             object
Age                     int64
Gender                 object
Marital_Status         object
Financial_Status       object
Insurance              object
Drug_Cost              object
Prescription_Period     int64
Diabetes                int64
Alcoholism              int64
HyperTension            int64
Smokes                  int64
Tuberculosis            int64
Adherence              object
dtype: object

#***validate data to check missing values***

In [5]:
for col in dataset.columns:
    miss = dataset[col].isnull().sum()
    if miss>0:
        print("{} has {} missing value(s)".format(col,miss))
    else:
        print("{} has NO missing value!".format(col))

Patient_ID has NO missing value!
Age has NO missing value!
Gender has NO missing value!
Marital_Status has NO missing value!
Financial_Status has NO missing value!
Insurance has NO missing value!
Drug_Cost has NO missing value!
Prescription_Period has NO missing value!
Diabetes has NO missing value!
Alcoholism has NO missing value!
HyperTension has NO missing value!
Smokes has NO missing value!
Tuberculosis has NO missing value!
Adherence has NO missing value!

#***Conclusion:***
*The dataset is validated now and the quality of the data available in this dataset is great.*